@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    header{
        background-size: cover;
        background-repeat: no-repeat;
    }

    header nav{
        display: block;
        text-align: center;
    }

    header nav img{
        margin: 10px;
    }

    .our-dogs-wrapper p{
        font-size: 0.85em;
    }

    .our-dogs-wrapper ul li{
        display: inline-block;
        margin: 10px;
    }

    .our-dogs-wrapper ul li img{
        width: 180px;
        height: 180px;
    }

    .helpNeed ul{
        display: block;
    }
}