* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.containerAll {
    width: 80%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
}

.headerContainer {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

.currentHeading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    padding: 10px;
}

.firstBody {
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.firstBody p {
    margin: 10px auto 10px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.secondBody {
    padding: 20px;
}

.secondBody h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.secondBody p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}

.first {
    padding: 20px;
    list-style-type: square;
}

.first li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-bottom: 5px;
}

.second {
    margin: 5px 0 5px 20px;
    list-style-type: disc;
}

.second li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin: 5px;
}

.third {
    margin: 5px 0 5px 20px;
    list-style-type: circle;
}

.third li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin: 5px;
}

.four {
    margin: 5px 0 20px 20px;
    list-style-type: decimal;
}

.four li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin: 5px;
}

.tableInfo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.tableInfo td,
.tableInfo th {
    border: 1px solid darkgray;
    padding: 8px;
}

.tableInfo tr:nth-child(even) {
    background-color: lightgray;
}

.tableInfo th {
    margin: 5px;
    padding: 12px 5px;
    text-align: left;
    background-color: darkgray;
    color: black;
}

.plusContainer {
    margin: 20px;
    border-left: 4px solid lightgray;
}

.plusContainer p {
    padding: 5px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
}

.plusContainer .author {
    text-align: right;
    font-style: italic;
}

.footerContainer {
    margin: 10px 0 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

@media screen and (max-width: 800px) {
    .containerAll {
        width: 100%;
    }
}